Cursova_DOT_NetP_WCF/KeyLooger_SERVICE/Client/Service References/ServiceReference/LowLevelKeyboardListener.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LowLevelKeyboardListener" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10000/Client?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILowLevelKeyboardListener_HookKeyboard_InputMessage">
    <wsdl:part name="parameters" element="tns:HookKeyboard" />
  </wsdl:message>
  <wsdl:message name="ILowLevelKeyboardListener_HookKeyboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:HookKeyboardResponse" />
  </wsdl:message>
  <wsdl:message name="ILowLevelKeyboardListener_UnHookKeyboard_InputMessage">
    <wsdl:part name="parameters" element="tns:UnHookKeyboard" />
  </wsdl:message>
  <wsdl:message name="ILowLevelKeyboardListener_UnHookKeyboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnHookKeyboardResponse" />
  </wsdl:message>
  <wsdl:portType name="ILowLevelKeyboardListener">
    <wsdl:operation name="HookKeyboard">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevelKeyboardListener/HookKeyboard" message="tns:ILowLevelKeyboardListener_HookKeyboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevelKeyboardListener/HookKeyboardResponse" message="tns:ILowLevelKeyboardListener_HookKeyboard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnHookKeyboard">
      <wsdl:input wsaw:Action="http://tempuri.org/ILowLevelKeyboardListener/UnHookKeyboard" message="tns:ILowLevelKeyboardListener_UnHookKeyboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILowLevelKeyboardListener/UnHookKeyboardResponse" message="tns:ILowLevelKeyboardListener_UnHookKeyboard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILowLevelKeyboardListener" type="tns:ILowLevelKeyboardListener">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HookKeyboard">
      <soap:operation soapAction="http://tempuri.org/ILowLevelKeyboardListener/HookKeyboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnHookKeyboard">
      <soap:operation soapAction="http://tempuri.org/ILowLevelKeyboardListener/UnHookKeyboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LowLevelKeyboardListener">
    <wsdl:port name="BasicHttpBinding_ILowLevelKeyboardListener" binding="tns:BasicHttpBinding_ILowLevelKeyboardListener">
      <soap:address location="http://localhost:10000/Client" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>