XML/lections/2014-11-12__03__namespace_xsd/02_xsd/07_complex_sequence/example.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--всередині описуємо структуру документа-->
	
	<!--тип елемента визначено окремо - атрибутом-->
	<xs:element name="example">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="surname" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- тип елемента <example> номер телефона  -->
	<xs:simpleType name="typePhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\(0\d\d\) \d\d\d-\d\d-\d\d" />
			<!--регулярний вираз задає вміст елемента-->
		</xs:restriction>
	</xs:simpleType>



</xs:schema>