XML/XML_Step_Lessons/XML_2/source/version_2/notebook.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT notebook (person)+>
<!ELEMENT person ANY>
<!ELEMENT fullname EMPTY>  
<!ELEMENT phone (#PCDATA)> 
<!ELEMENT city (#PCDATA)>      
<!ELEMENT text (#PCDATA)>   

<!ATTLIST fullname
          first   CDATA #REQUIRED
          middle  CDATA #IMPLIED 
          surname CDATA #REQUIRED>
<!ATTLIST city type (місто | смт | село) "село">
