WCF/MyDiskInfo_Send/Client_Proxy/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyDiskInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyDiskInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DiskResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSpace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiskResult" nillable="true" type="tns:DiskResult" />
</xs:schema>