WCF/MyDiskInfo_Send/Client_Proxy/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GetDiskInfo/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyDiskInfo" />
  <xs:element name="Res">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyDiskInfo" minOccurs="0" name="ResResult" nillable="true" type="q1:DiskResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diskName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="discSecond" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyDiskInfo" minOccurs="0" name="ResResResult" nillable="true" type="q2:DiskResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>